<section>
    <div>
        <h3>Address Books</h3>
        <ngx-datatable
                class="material"
                [rows]="rows"
                [columns]="[{name:'Email'},{name:'Name'}]"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [count]="count"
                [offset]="offset"
                [limit]="limit"
                (page)='onPage($event)'>
        </ngx-datatable>
    </div>
</section>
