.file-upload-component{
  .my-drop-zone {
    border: dotted 3px lightgray;
  }

  .nv-file-over {
    border: dotted 3px green;
  }

  .errors {
    color: red;
    background-color: lightcyan;
  }

  .warnings {
    color: yellow;
    background-color: #355a5a;
  }

  .msgs {
    background-color: cornsilk;
    color: blue;
  }

  .selected {
    background-color: yellow;
  }

  .selectable {
    &:not(.selected):hover {
      background-color: aqua;
      cursor: pointer;
    }
  }

  .right-panel {
    margin-bottom: 40px;
  }

  .name-column {
    width: 50%;
  }

  .progress {
    margin-bottom: 0;
  }

  table {
    cellspacing: 0;
    width: 100%;

    caption {
      color: darkslategray;
      text-align: center;
      font-size: 20px;
    }
  }
}