my-app {
    width: 800px;
    margin: 0 auto;

    header {
        padding: 1em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 20px;
        display: block;

        img {
            width: 100px;
        }
    }
}


