<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <h2>{{title}}</h2>
            <a href="http://www.pwc.com.au/" class="navbar-brand">
            <img src="../../../public/images/PwC.png" />
            </a>
            <ul class="nav navbar-nav">
             <!--   <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>-->
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>

<footer>
    <div class="container">
    </div>
</footer>